{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Blog</title>
    <!--CSS-->
    <link rel="stylesheet" href ="{% static 'css/style.css'%}">
    <!--CSS BOOTSTRAP-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>
<body>
  <div id="menu">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/form/">Form</a></li>
        </ul> 
    </div> 
    <br>
    <br>
    <h2 align="center">Halaman Blog</h2>
      {% block page_title %}
          {{page_title}}
      {% endblock page_title %}

      {% block contents %}
          <h1>{{page_title}}</h1>
          
          {% for post in posts %}
            <h1>{{post.judul}}</h1>
            <h2>{{post.body}}</h2>
            <h2>{{post.category}}</h2>
          {% endfor %}
            
      {% endblock contents %}
    <img id="banner" src="{% static 'blog/img/sunflowers.jpg'%}" alt="">

    <div class="card">
        <div class="card-header">
          Postingan
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              {% block content-1 %} 
              {% for v in post %}
              
              <h1>{{v.title}}</h1>
              <p>{{v.body}}</p>
              
              {% endfor %}
              {% endblock content-1 %}
            </p>
            <footer class="blockquote-footer">Zian Asti Dwiyanti <cite title="Source Title"></cite></footer>
          </blockquote>
        </div>
      </div>


    <!-- JS BOOTSTRAP-->
    <script src="{% static 'vendor/bootsrap/bootstrap.js'%}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootsrap/jquery.slim.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootsrap/popper.min.js'%}" type="text/javascript"></script>

</body>
</html>